.testimonials {
    background-color: $ocean;
}
.testimonials__wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}
.testimonials__wrapper::before {
    position: absolute;
    content: '';
    top: 30px;
    right: -40px;
    background-image: url(../img/quote.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 200px;
}
.testimonials__title {
    color: $white;
}
.testimonials__list {
    margin-top: 40px;
}
.testimonials__item {
    padding: 40px;
    background-color: $white;
    border-radius: 10px;
}
.testimonials__row {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.testimonials__subtitle {
    @include bold;
    font-size: 20px;
    line-height: 24px;
    color: $ocean;
}
.testimonials__rating {
    display: flex;
    align-items: center;
}
.testimonials__star {
    width: 25px;
    text-align: center;
    font-size: 30px;
}
.testimonials__star::after {
    content: '★';
    color: #FCC226;
}

.testimonials__desc {
    margin-top: 22px;
    margin-bottom: 38px;
    font-size: 16px;
    line-height: 22px;
    color: $black;
}
.testimonials__name {
    @include bold;
    font-size: 14px;
    line-height: 130%;
    color: $ocean;
}
.testimonials__city {
    margin-top: 5px;
    @include medium;
    font-size: 12px;
    line-height: 130%;
    color: $black;
}
.testimonials__date {
    @include medium;
    font-size: 14px;
    line-height: 17px;
    color: $black;
}

// Dots
#slider .slick-dots {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider .slick-dots li {
    list-style: none;
}
#slider .slick-dots li.slick-active button {
    background: $gradient;
    width: 20px;
    border-radius: 100px;
    border: none;
}
#slider .slick-dots button {
    margin: 0 8px;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #dedede;
    background: none;
}

// Отступы
#slider .slick-slide {
    margin-right: 20px;
}
#slider .slick-list {
    margin-right: -20px;
}

// Стрелки
.testimonials__arrows {
}
.testimonials__arrow {
    position: absolute;
    top: 46%;
    z-index: 10;
    font-size: 0;
    padding: 10px;
    background: $gradient;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.arrow__icon {
    width: 11px;
    height: 21px;
}
.testimonials .prev-arrow {
    left: -10px;
}
.testimonials .next-arrow {
    right: -10px;
}

@media (max-width: 1100px) {
    .testimonials .testimonials__item {
        width: 100%;
    }
}

@media only screen and (max-width: 1320px) {
    .testimonials__wrapper::before {
        width: 120px;
        height: 120px;
        right: 0;
    }
}
@media only screen and (max-width: 650px) {
    .testimonials__wrapper {
        padding: 60px 0;
    }
    .testimonials__wrapper::before {
        width: 60px;
        height: 60px;
    }
}
@media only screen and (max-width: 500px) {
    .testimonials__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
    .testimonials__star {
        width: 15px;
        font-size: 20px;
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
    .testimonials__arrow {
        padding: 5px;
        width: 30px;
        height: 30px;
    }
    .arrow__icon {
        width: 12px;
        height: 15px;
    }
    .testimonials__desc {
        font-size: 12px;
        line-height: 16px;
    }
    .testimonials__name {
        font-size: 10px;
        line-height: 130%;
    }
    .testimonials__city {
        font-size: 8px;
        line-height: 130%;
    }
    .testimonials__date {
        font-size: 8px;
        line-height: 10px;
    }
    #slider .slick-dots {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .testimonials__wrapper::before {
        width: 30px;
        height: 30px;
    }
}